[submodule "main/grbl"]
	path = main/grbl
	url = https://github.com/grblHAL/core
[submodule "main/eeprom"]
	path = main/eeprom
	url = https://github.com/grblHAL/Plugin_EEPROM
[submodule "main/keypad"]
	path = main/keypad
	url = https://github.com/grblHAL/Plugin_I2C_keypad
[submodule "main/motors"]
	path = main/motors
	url = https://github.com/grblHAL/Plugins_motor
[submodule "main/networking"]
	path = main/networking
	url = https://github.com/grblHAL/Plugin_networking
[submodule "main/sdcard"]
	path = main/sdcard
	url = https://github.com/grblHAL/Plugin_SD_card
[submodule "main/spindle"]
	path = main/spindle
	url = https://github.com/grblHAL/Plugins_spindle
[submodule "main/trinamic"]
	path = main/trinamic
	url = https://github.com/terjeio/Trinamic-library
[submodule "main/webui"]
	path = main/webui
	url = https://github.com/grblHAL/Plugin_WebUI
[submodule "main/laser"]
	path = main/laser
	url = https://github.com/grblHAL/Plugins_laser
[submodule "main/embroidery"]
	path = main/embroidery
	url = https://github.com/grblHAL/Plugin_embroidery
[submodule "main/plugins"]
	path = main/plugins
	url = https://github.com/grblHAL/Plugins_misc/
